---
import type { IRepo } from "../interfaces/repo";

import TechIcon from "../components/icons/TechIcon/index.astro";

interface Props {
    repo: IRepo;
}

const { repo } = Astro.props as Props;

const formatDate = (date: string) => {
    return new Date(date).toDateString();
};
---

<div
    class="p-6 rounded-md tiny-shadow flex flex-col bg-light_contrast dark:bg-dark_contrast hover:scale-110"
>
    <div class="flex justify-between items-center">
        <h2
            class="w-56 md:w-4/5 lg:w-64 xl:w-52 2xl:w-72 text-light_text dark:text-dark_text text-xl tracking-wide overflow-hidden text-ellipsis whitespace-nowrap"
        >
            <a href={repo.html_url} target="_blank">
                <b>{repo.full_name}</b>
            </a>
        </h2>
        <span class="p-2 rounded-md bg-light dark:bg-dark hover:animate-spin">
            <TechIcon language={repo.language} />
        </span>
    </div>
    <div class="h-0.5 my-4 bg-light dark:bg-dark"></div>
    <div class="flex flex-col justify-between grow">
        <p class="repo-description">{repo.description}</p>
        <span class="mt-4 px-2 py-1 rounded-md self-end bg-light dark:bg-dark">
            📅 {formatDate(repo.created_at)}
        </span>
    </div>
    <div class="mt-6">
        <a href={repo.html_url} target="_blank">
            <button
                class="w-full btn bg-light dark:bg-dark hover:animate-bounce hover:btn-primary"
            >
                🔗 GO TO THE REPO
            </button>
        </a>
    </div>
</div>

<style lang="sass">
    .repo-description
        overflow: hidden
        text-overflow: ellipsis
        display: -webkit-box
        line-clamp: 4
        -webkit-line-clamp: 4
        -webkit-box-orient: vertical
</style>
